/* General setup */

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  min-width: 1000px;
  max-width: 1400px;
}

/* Layout */

section {
  float: left;
  width: 50%;
}

aside {
  float: left;
  width: 30%;
}

nav {
  float: left;
  width: 20%;
}

footer {
  clear: both;
}

header, section, aside, nav, footer {
  padding: 20px;
}

/* header and footer */

header, footer {
  border-top: 5px solid #a66;
  border-bottom: 5px solid #a66;
}

/* WRITE YOUR CODE BELOW HERE */

@font-face {
  font-family: 'LT SOUL';
  src: url(Fonts/LT_SOUL/LTSoul-Regular.otf) format("opentype");
  src: url(Fonts/LT_SOUL/LTSoul-Bold.otf) format("opentype") ,
   url(Fonts/LT_SOUL/LTSoul-Medium.otf) format("opentype") ,
   url(Fonts/LT_SOUL/LTSoul-SemiBold.otf) format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'VOGUE';
  src: url(Fonts/vogue/Vogue.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}

html {
  font-family: 'LT SOUL' , serif , monospace;
  font-size: 10px;
}

h1, h2 {
  font-family: 'VOGUE', sans-serif , monospace;
  letter-spacing: 2px;
}

h1 {
  font-size: 5rem;
  text-align: center;
}

h2 {
  font-size: 3rem;

}

p , li {
  font-size: 1.6rem;
  line-height: 1.5;
  letter-spacing: 0.4px;
  word-spacing: 2px;
}

section h2 + p {
  text-indent: 20px;
}

a {
  outline: none;
}

a:link , a:visited {
  color: #a66;
}

a:focus , a:hover{
  text-decoration: none;
}

a:active{
  color: rgb(110, 38, 38);
  text-shadow: 2px 2px 2px rgb(148, 27, 27) ;
}
a[href*="http"]::after{
  content: "";
  display: inline-block;
  width: 16px;
  height: 14px;
  background-image: url('external-link-52.png');
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: 4px;
}

ul, ol {
  margin-top: 1.6rem;
  margin-bottom: 1.6rem;
}

ul{
  list-style-type: square ;
  
}

ol{
  list-style-type: lower-latin;
}

nav li a {
  text-decoration: none;
  display: inline-block;
  width: 100%;
  line-height: 3;
  text-align: center;
  font-size: 2rem;
  border: 1px solid #a66;
}

nav li a:focus, nav li a:hover{
  border-width: 3px;
  color: #a66;
  background-color: rgb(255, 232, 232);
}
nav li a:active{
  background-color: white;
  color: black;
}
nav li{
  list-style-type: none;
  margin: 2rem 0;
}